/* Starter CSS file */
body {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  color: black;
}
header {
  background-color: tan;
  color: black;
  text-align: center;
}
nav a:hover {
  color: #0077cc;
  text-decoration: underline;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}
main {
  padding: 1rem;
  max-width: 800px;
  margin: auto;
  background-color: white;
}
h1 {
  font-size: 2rem;
  color: black;
}
h2 {
  font-size: 1.5rem;
  color: black;
}
h3 {
  color: black;
  font-size: 1.25rem;
}
p{
  color: #555;
}
#menu {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

@media (max-width: 600px) {
  #menu {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 1rem;
  }

  #menu.show {
    display: flex;
  }

  #menu-toggle {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
}


img {
  max-width: 100%;
  height: auto;
}
.mural-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
figure {
  width: 100%;
  max-width: 250px;
}
